<?xml version="1.0" ?>
<launch>
  <arg name="gui" default="true" />
  <arg name="have_robot" default="true" />
  
  <arg name="irb_120" default="true" />
  
  <param name="use_gui" value="$(arg gui)"/>
  <param name="robot_description" textfile="$(find pnpush_config)/models/IRB120/irb_120.urdf" />
    
  <node if="$(arg irb_120)" pkg="tf" type="static_transform_publisher" name="baselink_broadcaster" args="0 0 0.60 0 1.57079632679 0 map base_link 100" />
  
  <node pkg="tf" type="static_transform_publisher" name="vicon1_broadcaster" args="0.35 0.5 0.4 0 0 1.57 map vicon1 100" />
  <node pkg="tf" type="static_transform_publisher" name="vicon2_broadcaster" args="0.65 0.5 0.24 0 0 1.57 map vicon2 100" />
  <node pkg="tf" type="static_transform_publisher" name="vicon3_broadcaster" args="1 -0.2 0.4 0 -1.57 0 map vicon3 100" />
  <node pkg="tf" type="static_transform_publisher" name="vicon4_broadcaster" args="1 0.2 0.24 0 -1.57 0 map vicon4 100" />
  <node pkg="tf" type="static_transform_publisher" name="vicon5_broadcaster" args="0 -0.5 0.24 0 0 -1.57 map vicon5 100" />

  <node unless="$(arg have_robot)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >
    <rosparam unless="$(arg have_robot)" command="load" file="$(find pnpush_config)/source_list_param.yaml" />
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" />

  <node pkg="tf" type="static_transform_publisher" name="viconworldlink_broadcaster" 
  args="4.21386755e-01 -1.64581650e-01 1.39410037e-02 5.83379415e-03 -2.59815416e-03 7.82808438e-03 9.99948967e-01 map /viconworld 100" />

  <node pkg="tf" type="static_transform_publisher" name="vicontip_broadcaster" args="0 0 0.205925 0 0 0 /link_6 /vicon_tip 100" /> <!-- for transferring calib tip to link6-->


</launch>
